<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Practicando como hacer un juego('Do it now')">
    <title>Testing page</title>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/css/bootstrap.css">
</head>
<body>

    {% block body %}
    {% endblock %}

    <script src="../static/js/js/popper.min.js"></script>
    <script src="../static/js/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/js/bootstrap.min.js"></script>
</body>
</html>